<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116427930477-csqid2mglpv1jt2d0jlkdj6htqit9jm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116427930477-csqid2mglpv1jt2d0jlkdj6htqit9jm1</string>
	<key>API_KEY</key>
	<string>AIzaSyB-xlpYuwf40hy6yYqeVmAUbtBd6g-fMNk</string>
	<key>GCM_SENDER_ID</key>
	<string>116427930477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HackDuke.QuitIt</string>
	<key>PROJECT_ID</key>
	<string>quitit-2d3af</string>
	<key>STORAGE_BUCKET</key>
	<string>quitit-2d3af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116427930477:ios:64af73273d6bb94280b864</string>
	<key>DATABASE_URL</key>
	<string>https://quitit-2d3af.firebaseio.com</string>
</dict>
</plist>